<!DOCTYPE html>
<html>
<head>
  <title>Games List</title>
</head>
<body>
  <h1>Games List</h1>
  <ul>
    <% games.forEach(game => { %>
      <li><%= game.title %> - Released on <%= game.release_date %></li>
    <% }) %>
  </ul>
</body>
</html>

